---
---
<!-- Banner -->
    <header class="site-header">
      <div class="header-content">
        <h1 class="banner-text">
          <span class="banner-part1">ADH</span
          ><span class="banner-part2">DAD</span>
        </h1>
        <span class="header-slogan">TODO: Write slogan here later.</span>
      </div>
      <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-padding"></div>
      <a href="#">Start Here</a>
      <div class="dropdown">
        <button class="dropbtn">ADHD</button>
        <div class="dropdown-content">
          <a href="#">What is it?</a>
          <a href="#">The good, the bad, and the ugly.</a>
          <a href="#">Lived experience.</a>
          <a href="#">Big pharma.</a>
          <a href="#">Over and under diagnosing.</a>
          <a href="#">Am I ADHD?</a>
          <a href="#">Are they ADHD?</a>
          <a href="#">Adults.</a>
          <a href="#">Kids.</a>
          <a href="#">Teens and Young adults.</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Getting Diagnosed</button>
        <div class="dropdown-content">
          <a href="#">First steps.</a>
          <a href="#">The process.</a>
          <a href="#">Finding a medical provider.</a>
          <a href="#">Gathering info.</a>
          <a href="#">The assessment.</a>
          <a href="#">Diagnosed, now what?</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Diagnosed, Now What?</button>
        <div class="dropdown-content">
          <a href="#">Stop... and start here.</a>
          <a href="#">Reflection and grief.</a>
          <a href="#">Joy</a>
          <a href="#">Forgiviness.</a>
          <a href="#">Exhaustion.</a>
          <a href="#">Interactions.</a>
          <a href="#">Medication - titrating.</a>
          <a href="#">Repentance.</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Thriving with ADHD</button>
        <div class="dropdown-content">
          <a href="#">Start here.</a>
          <a href="#">ADHD burnout.</a>
          <a href="#">Forgiving.</a>
          <a href="#">Pitfalls.</a>
          <a href="#">Your loved ones.</a>
          <a href="#">Medication - titrating.</a>
          <a href="#">Working.</a>
          <a href="#">Studying.</a>
          <a href="#">Relationships.</a>
          <a href="#">Your body.</a>
          <a href="#">Your home.</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Reviews</button>
        <div class="dropdown-content">
          <a href="#">Books.</a>
          <a href="#">Websites.</a>
          <a href="#">YouTube.</a>
          <a href="#">Podcasts.</a>
          <a href="#">Tools.</a>
          <a href="#">Apps.</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Theology</button>
        <div class="dropdown-content">
          <a href="#">Start here.</a>
          <a href="#">Follow Peter.</a>
          <a href="#">Two views.</a>
          <a href="#">Why me?</a>
          <a href="#">Weighing the bad and the good.</a>
          <a href="#">Holiness and sin.</a>
          <a href="#">What am I good for?</a>
          <a href="#">Identity.</a>
          <a href="#">Healing and joy.</a>
          <a href="#">Relationships.</a>
          <a href="#">Marriage and children.</a>
          <a href="#">Church.</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">About</button>
        <div class="dropdown-content">
          <a href="#">Me.</a>
          <a href="#">This site.</a>
        </div>
      </div>
      <div class="navbar-padding"></div>
    </nav>
    </header>