---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Home Page";
---
<Layout pageTitle={pageTitle}>
  <!-- Cards -->
    <div class="card-container">
      <div class="card">
        <h3>New Content: Website Created 21/08/2025</h3>
        <p>Website home page created. Content to follow...</p>
      </div>
      <!-- Add more as needed -->
    </div>
</Layout>